.find-user-form
  min-width: 150px
  max-width: 500px
  width: 100%


.player-info-card
  max-width: 400px

.main-field
  justify-content: center
  align-items: center
  text-align: center

.header-image
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg')
  background-size: cover


.main-card
  margin-top: 2%
  margin-left: 15%
  margin-right: 15%
  min-width: 50%

.example-container
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
