<div class="main-field">
  <mat-card class="recent-games-card" *ngIf="recentGamesData != null">
    <mat-card *ngFor='let game of recentGamesData'>
      <mat-card-header>
        <mat-card-title>{{game.points_1}}:{{game.points_2}}</mat-card-title>
        <div class="">
          {{game.updated_at}}
        </div>
      </mat-card-header>
      <mat-card-content class="">
        <div class="container">
          <ng-container *ngIf="!game.p1b_given_name; else doubles">
            <div class="rightBorderDivider">
              <p class="names">
                {{game.p1a_given_name}} {{game.p1a_family_name}}
              </p>
            </div>
            <div *ngIf="!game.p1b_given_name; else doubles">
              <p class="names">
                {{game.p2a_given_name}} {{game.p2a_family_name}}
              </p>
            </div>
          </ng-container>
        </div>
        <!-- end singles content -->
        <ng-template #doubles>
          <div class="rightBorderDivider">

            <p class="names">
              {{game.p1a_given_name}} {{game.p1a_family_name}} / {{game.p1b_given_name}} {{game.p1b_family_name}}
            </p>
          </div>
          <div>
            <p class="names">
              {{game.p2a_given_name}} {{game.p2a_family_name}} / {{game.p2b_given_name}} {{game.p2b_family_name}}
            </p>
          </div>
        </ng-template>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-card>

</div>
