<div class="main-field">

  <mat-card class="main-card">
    <h2>Find A Player</h2>
    <mat-tab-group mat-stretch-tabs color="accent" backgroundColor="primary">
      <mat-tab label="by Player ID">
        <mat-form-field appearance="outline" class="find-user-form">
          <mat-label>Player ID</mat-label>
          <input matInput [formControl]="playerIdFormControl" placeholder="Ex. ABC123" (keydown.enter)="searchPlayerId()">
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <!-- <mat-error *ngIf="playerIdFormControl.hasError('minlength') && !playerIdFormControl.hasError('required')">
            PlayerID must be greater than 6 characters
          </mat-error> -->
          <mat-error *ngIf="playerIdFormControl.hasError('required')">
            PlayerID is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </mat-tab>
      <mat-tab label="by Name">
        <mat-form-field appearance="outline" class="find-user-form">
          <mat-label>Name</mat-label>
          <input matInput [formControl]="playerIdFormControl" placeholder="Ex. ABC123" (keydown.enter)="searchPlayerName()">
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <mat-error *ngIf="playerIdFormControl.hasError('minlength') && !playerIdFormControl.hasError('required')">
            PlayerID must be greater than 6 characters
          </mat-error>
          <mat-error *ngIf="playerIdFormControl.hasError('required')">
            PlayerID is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </mat-tab>
      <mat-tab label="Under Construction"></mat-tab>
    </mat-tab-group>

    <mat-card class="player-info-card" *ngIf="playerInfo != null">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle>{{playerInfo.given_name}} {{playerInfo.family_name}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{playerInfo.level}}
          {{playerInfo.hand}}
          {{playerInfo.location}}
          {{playerInfo.institution}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-card>

</div>
